body {
    margin: 0;
    background-color: black;
}

#root{
    padding:3rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#root canvas{
    margin: 0 auto;
    display: block;
}